&.polls h3
  margin-left 15px 
&.polls .container
  position relative
  width 100%
  height 90vh
  max-width 1000px
  max-height 700px
  svg.graph
    position absolute
    top 0px
    left 0px
    g.point
      circle
        stroke 0
        fill-opacity 0
        &.remain
          stroke #377eb8
        &.leave
          stroke #e41a1c
        &.undecided
          stroke #999999
      &.telephone
        circle
          fill-opacity 0.7
          &.remain
            fill #377eb8
          &.leave
            fill #e41a1c
          &.undecided
            fill #999999
          stroke-opacity 0.8
          stroke-width 1
      @media MediaMobile
        display none
    .fifty
      line
        stroke-width 1
        stroke #b
        shape-rendering crispEdges
        stroke-dasharray 1, 2
    g.trend
      path
        fill none
        &:nth-child(1)
          stroke #377eb8
        &:nth-child(2)
          stroke #e41a1c
        &:nth-child(3)
          stroke #999999
    g.latest
      text
        &:nth-child(1)
          fill darken(#377eb8, 20%)
        &:nth-child(2)
          fill darken(#e41a1c, 20%)
        &:nth-child(3)
          fill darken(#999999, 20%)
    g.axis
      shape-rendering crispEdges
      .domain
        fill none
        stroke #6
      g.tick
        line
          stroke #6
      text
        font-size 9px
        text-transform uppercase
      @media screen and (max-width: 400px)
        g.tick
          display none
          &:nth-child(1)
          &:nth-child(5)
            display block
  div.legend
    position absolute
    right 0px
    top 0px
    border 1px solid #d
    background #fd
    box-shadow 0px 0px 4px #e
    border-radius 4px
    padding 8px 13px
    @media MediaMobile
      display none
    a:hover
      text-decoration none
    ul
      list-style-type none
      margin 0px
      padding 0px
      float right
      clear both
      &:last-of-type
        margin-top 5px
      li
        position relative
        padding-left 20px
        float left
        margin-left 7px
        &:before
          content ""
          position absolute
          left 7px
          top 6px
          width 6px
          height 6px
          background transparent
          border-radius 50%
          // opacity 0.4
      &.answer
        li:nth-child(1):before
          background #377eb8
        li:nth-child(2):before
          background #e41a1c
        li:nth-child(3):before
          background #999999
      &:last-of-type
        li:first-child
          &:before
            background #3
        li:last-child
          &:before
            border 1px solid #3
            top 5.5px
            width 7px
            height 7px
    > span
      float right
      clear both
      margin-top 4px
      font-size 11px
  svg.voronoi
    position absolute
    top 0px
    left 0px
    path
      fill transparent
  .tooltip-container
    @import GraphTip
  .tooltip-container
    @media MediaMobile
      display none
    pointer-events none
    b.remain
      color darken(#377eb8, 30%)
    b.leave
      color darken(#e41a1c, 30%)
    b.undecided
      color darken(#999999, 30%)
