// TADY JSOU UZIVATELSKY NASTAVITELNE PROMENNE

CoverImageSource = 'https://samizdat.cz/data/maraton-clanek/www/media/cover.jpg'
CoverImagePosition = center top

// tmavy gradient
CoverImageGradientOverlay = linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 25%)

// svetly gradient
// CoverImageGradientOverlay = linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 25%);

OverlayTextColor = #fff

OverlayTextShadow = none
// pridat perexu "obtazeni"
// OverlayTextShadow = -1px -1px 0px #d3, -1px 1px 0px #d3, 1px -1px 0px #d3, 1px 1px 0px #d3

ScrollButtonTop = 410px
ScrollButtonRightFromCenter = 0px


// SEM UZ JE LEPSI NESAHAT
MediaSmallScreen = "screen and (max-width: 1023px)"
MediaMobile = "screen and (max-width: 767px)"

@import 'template/fonts.styl'
@import colors
@import prefixes
@import 'components/triangle'

@import basics
@import 'template/header.styl'
@import 'template/opener.styl'
@import 'template/main.styl'
@import 'template/footer.styl'


@import polls

main .hc
  width 100%
  height 100%
